In [7]:
# Se importan las librerías requeridas
import pandas as pd
import statsmodels.api as sm

# Se cargan los datos desde el archivo CSV
data = pd.read_csv('Height_Weight.csv')

# Aquí la notebook de Jupyter muestra una tabla con los valores del CSV
data

     Unnamed: 0      Height     Weight
0             0  175.948010  61.788438
1             1  172.539203  58.731999
2             2  175.031019  56.750165
3             3  175.791647  62.793462
4             4  167.555393  61.026676
..          ...         ...        ...
995         995  169.884852  62.780127
996         996  175.230257  59.082308
997         997  175.719359  53.416672
998         998  176.353191  58.266070
999         999  178.721487  60.828456

[1000 rows x 3 columns]

In [9]:
# Se definen las variables independiente (altura) y dependiente (peso)
X = data['Height']
y = data['Weight']

# Se agregar β0
X = sm.add_constant(X)

# Se ajusta el modelo de regresión lineal (En este caso mínimos cuadrados)
model = sm.OLS(y, X).fit()

# Se obtienen los coeficientes β0 y β1
beta0 = model.params[0]
beta1 = model.params[1]

# Se muestra en pantalla los coeficientes β0 y β1
print(f'β0: {beta0}')
print(f'β1: {beta1}')

β0: -44.73959679818133
β1: 0.5921842228577838

C:\Users\Windows\AppData\Local\Temp\ipykernel_20420\1862777479.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  beta0 = model.params[0]
C:\Users\Windows\AppData\Local\Temp\ipykernel_20420\1862777479.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  beta1 = model.params[1]